<div 
	class="containsLayers"
	(document:mousemove)="onMouseMoveEvent($event)"
	(click)="onMouseClickEvent($event)"
	(mousedown)="onMouseDownEvent($event)"
	(mouseup)="onMouseUpEvent($event)"
	(wheel)="onScrollEvent($event)"
	oncontextmenu="return false;">
	<canvas 
		class="background" 
		width="700" 
		height="700"></canvas>
	<canvas
		id="fullCrossCanvas"
		width="700" 
		height="700"></canvas>
	<canvas 
		id="highlightCanvas" 
		width="700" 
		height="700"></canvas>
	<canvas 
		id="gridCanvas"
		width="700" 
		height="700"></canvas>
</div>
